**/node_modules/
**/.git
**/LICENSE
**/npm-debug.log
**/coverage
**/.env.production
**/.env.example
**/.editorconfig
**/.aws
**/.circleci/
.prettierrc
Almond.postman_collection.json
build
logs
.cache
*.md
**/*.class
.npmrc
heroku.yml
cleanup.sh
tsconfig.json
.gitattributes
.github
.yarnrc
Makefile
.eslintrc.js
.gitpod.Dockerfile
ssl_renew.sh
app.json
package.json
LICENSE
.gitignore
newrelic.js
Procfile
wait-for.sh
.gitpod.yml
.prettierrc
Almond.postman_collection.json
Dockerfile
jest.config.js
entrypoint.sh
.codeclimate.yml
.git
public
node_modules
renovate.json
.editorconfig
.circleci
nodemon.json
.prettierignore
coverage
docker-compose.yml
.eslintignore
newrelic_agent.log
nginx-conf
.env.example
.idea

# Don't ignore
!tsconfig.json
!package.json
!newrelic.js
!yarn.lock
!entrypoint.sh
!release.sh
